.contact-card {
  background: #000;
  color: white;
  .contact-card__header {
    background: #00a3d4;
    min-height: 300px;
    position: relative;
    .contact-card__header-data {
      position: absolute;
      right: 1em;
      bottom: 1em;
      .contact-card__name {
        color: white;
        font-size: 2em;
        margin: 0;
      }
      .contact-card__website {
        text-align: center;
        margin: 0;
      }
    }
  }
  .contact-card__footer {
    .arrow-down {
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #00a3d4;
      left: 3em;
      position: relative;
    }
    .contact-card__footer__row {
      text-align: right;
      padding: 0.75em 1em;
      font-size: 0.75em;
    }
  }
}
