#contact-listing {
  list-style: none;
  margin: 0;
  padding: 0;

  li{
    padding: 16px 0;
    border-bottom: 1px solid #e4e4e4;
  }

}
// #contact-listing
#filter{
  padding: 12px;
  background: #eeeeee;
  border-radius: 2px;
  line-height: 30px;

  input{
    padding: 8px;
    width: 100%;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
  }
}

#filter:after{
  content: "";
  display: block;
  clear: both;
}
